
@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
    margin-top:50px;
    background-color: #d64541;
    margin-left:0;
    margin-right:0;
    margin-bottom:0;

}


h1 {
    font-family: 'Oswald', sans-serif;
    color: white;
}


h2 {
    font-family: 'Oswald', sans-serif;
    color : white;
}