
@import url('https://fonts.googleapis.com/css?family=Oswald');

html {
    background-color:rgba(236, 240, 241, 1);
    margin-top: 100px;
    overflow: hidden;

}

h1 {
    font-family: 'Oswald', sans-serif;
    color: #d64541;
}

h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #d64541;
}